<!DOCTYPE html>
<html>
  <head>
    <title>Proposito</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta name="description" lang="en" content="">
    <meta name="description" lang="es" content="">

    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <%= yield :stylesheets %>
    <link rel="manifest" href="/manifest.json">
    <link href="//cdn.muicss.com/mui-0.9.43/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.43/js/mui.min.js"></script>
  </head>

  <body>
    <header class="mui-appbar mui--z1">
      <div class="mui-container">
        <table>
          <tr class="mui--appbar-height">
            <td class="mui--text-title">Header</td>
            <td align="mui--text-right">
              <ul class="mui-list--inline mui--text-body2">
                <li><a href="#">&nbsp;</a></li>
                <li><a href="#">&nbsp;</a></li>
                <li><a href="#">&nbsp;</a></li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </header>
    <div id="content-wrapper" class="mui--text-center">
      <div class="mui--appbar-height"></div>
      <br>
      <br>

      <%= yield %>
    </div>
    <footer>
        <div class="mui-appbar">
          <table width="100%">
            <tr style="vertical-align:middle;">
              <td class="mui--appbar-height mui--text-center">
                <%= link_to home_one_path do %>
                  <i class="fa fa-home" aria-hidden="true"></i>
                <% end %>
              </td>
              <td class="mui--appbar-height mui--text-center"><i class="fa fa-home" aria-hidden="true"></i>2</td>
              <td class="mui--appbar-height mui--text-center" align="right"><i class="fa fa-home" aria-hidden="true"></i>3</td>
              <td class="mui--appbar-height mui--text-center" align="right"><i class="fa fa-home" aria-hidden="true"></i>4</td>

            </tr>
          </table>
        </div>
    </footer>


  </body>
</html>
